Datasets/

!Output/

Output/*
!Output/Smoke/


Output/Smoke/*
!Output/Smoke/pValues/

!Output/Smoke/Age/
Output/Smoke/Age/Graphs


!Output/Smoke/Genes_Pvalues/
Output/Smoke/Genes/Genes_Pvalues/*Combined.tsv

!Output/Race/
Output/Race/*
!Output/Race/pValues/
!Output/Race/Age/
Output/Race/Age/Graphs


!Output/Race/Genes_Pvalues/




!Output/Gender/
Output/Gender/*
!Output/Gender/pValues/

!Output/Gender/Age/
Output/Gender/Age/Graphs

!Output/Gender/Genes_Pvalues/





GDCdata/
.Rproj.user/
BiolinksAnalysis.Rproj
.RData
.Rhistory
Scripts/*.ipynb
Scripts/.ipynb_checkpoints

